/* General container styles for alignment and width */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
}

.skills {
  font-size: 3rem;
  font-weight: 300;
  color: yellow;
  margin-bottom: 1rem;
  text-align: center; /* Align the title text to the center */
}

.skills-category {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 2rem;
}

.skills-category-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.skill-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.skill-item span {
  margin-top: 0.5rem;
  font-size: 1rem;
}
