/* fixedicons.css */
.fixed-icons {
    position: fixed;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2; /* Ensure it's above other content */
  }
  
  .fixed-icons a {
    color: white;
    text-decoration: none;
  }
  
  .fixed-icons a:hover {
    color: yellow;
  }
  