/* contactMe.css */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: rgb(60, 60, 60);
    color: #fff;
    margin-top: 2rem;
  }
  
  .contact-title {
    font-size: 2rem;
    color: yellow;
    margin-bottom: 2rem;
  }
  
  .contact-description {
    margin-bottom: 2rem;
    font-size: large;
    font-weight: 300;
    width: 80%;
  }
  
  .contact-buttons {
    display: flex;
    
    justify-content: center;
    gap: 1rem;
  }
  
  .contact-btn {
    background-color: white;
    font-size: large;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: yellow;
    color: black;
  }
  
  .email-btn {
    background-color: yellow;
  }
  
  .email-btn:hover {
    background-color: darkgoldenrod;
  }
  
  .linkedin-btn {
    background-color: #0077b5;
  }
  
  .linkedin-btn:hover {
    background-color: #005983;
  }
  
  .footer-text {
    margin-top: 5rem;
    font-size: 1rem;
    color: #aaa;
  }
  